@import url("https://fonts.googleapis.com/css2?family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
.bg-custom-primary {
  background-color: #ffffff;
}

.bg-custom-secondary {
  background-color: #E0E4EB;
}

header {
  padding: 10px 20px;
  height: 100px;
  position: sticky;
  top: 0px;
}
header img {
  width: 100px;
  animation-name: logoAnimation;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.header-list {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
}
.header-list a {
  margin-left: 20px;
  font-weight: 500;
  color: #569CDA;
  text-decoration: none;
}
.header-list a:hover {
  color: grey;
}

@media (max-width: 767px) {
  header {
    height: auto;
  }
  .header-list {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@keyframes logoAnimation {
  0% {
    transform: translateY(0) translateX(0);
  }
  100% {
    transform: translateY(-20px) translateX(20px);
  }
}
.index {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas: "txt img";
  align-items: center;
  justify-content: center;
  justify-items: center;
  align-content: justify;
  padding-left: 50px;
}
.index-content {
  grid-area: txt;
}
.index-image {
  grid-area: img;
  height: 100%;
  width: 100%;
}
.index-image img {
  width: 100%;
}

.product, .service {
  margin: 50px 50px 0px 10px;
}
.product h2, .service h2 {
  text-align: left;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 20px;
}
.product-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.product-card, .service-card {
  background-color: #fff;
  border-style: solid;
  width: 300px;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 10px;
}

.service {
  display: grid;
  grid-template-areas: "service service service" "support web systems";
  grid-template-columns: 3fr 3fr 3fr;
  grid-template-rows: 2rem 1fr;
  justify-self: space-around;
  align-content: center;
  align-items: center;
  justify-items: center;
  margin-bottom: 50px;
}
.service h2 {
  grid-area: service;
  text-align: left;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 25px;
}
.service .web {
  grid-area: web;
}
.service .systems {
  grid-area: systems;
}
.service .support {
  grid-area: support;
}
.service-card {
  height: 450px;
  width: 250px;
}
.service-card img {
  width: 100%;
}

@media (max-width: 579px) {
  .index-image {
    display: flex;
    align-items: center;
  }
  .index .btn {
    margin-bottom: 10px;
  }
  .service {
    justify-content: center;
    justify-items: center;
    align-items: center;
    grid-template-areas: "service service service" "support support support" "web web web" "systems systems systems";
  }
  .service-card {
    width: 190px;
  }
}
@media (min-width: 580px) and (max-width: 767px) {
  .index {
    grid-template-columns: 1fr 1fr;
  }
  .index .btn {
    margin-bottom: 10px;
  }
  .service-card {
    width: 200px;
  }
}
.products-content {
  display: flex;
  flex-wrap: wrap;
}
.products-description {
  width: 100%;
  border: 5px solid #E0E4EB;
  margin: 0px 10px;
}

.portatil, .net, .externals, .component {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  margin-bottom: 10px;
  grid-template-areas: "titlePortatil ." "imgPortatil infoPortatil";
  justify-items: center;
}
.portatil-h2 {
  text-align: left;
  grid-area: titlePortatil;
}
.portatil-img, .net-img, .externals-img, .component-img {
  grid-area: imgPortatil;
  justify-self: center;
  align-self: center;
  margin: 10px;
  width: 350px;
}
.portatil-p, .net-p, .externals-p, .component-p {
  grid-area: infoPortatil;
  padding: 20px;
  font-size: 18px;
  text-align: justify;
  align-self: center;
}

.component {
  grid-template-columns: 2fr 1fr;
  grid-template-areas: "titleComponent ." "infoComponent imgComponent";
}
.component-h2 {
  grid-area: titleComponent;
}
.component-img {
  grid-area: imgComponent;
}
.component-p {
  grid-area: infoComponent;
}

.externals {
  grid-template-columns: 1fr 2fr;
  grid-template-areas: "titleExternals ." "imgExternals infoExternals";
}
.externals-h2 {
  grid-area: titleExternals;
}
.externals-img {
  grid-area: imgExternals;
}
.externals-p {
  grid-area: infoExternals;
}

.net {
  grid-template-columns: 2fr 1fr;
  grid-template-areas: "titleNet ." "infoNet imgNet";
}
.net-h2 {
  grid-area: titleNet;
}
.net-img {
  grid-area: imgNet;
}
.net-p {
  grid-area: infoNet;
}

@media (max-width: 579px) {
  .portatil, .component, .externals, .net {
    grid-template-columns: 1fr;
    grid-template-areas: "titlePortatil" "imgPortatil" "infoPortatil";
  }
  .component {
    grid-template-columns: 1fr;
    grid-template-areas: "titleComponent" "imgComponent" "infoComponent";
  }
  .externals {
    grid-template-columns: 1fr;
    grid-template-areas: "titleExternals" "imgExternals" "infoExternals";
  }
  .net {
    grid-template-columns: 1fr;
    grid-template-areas: "titleNet" "imgNet" "infoNet";
  }
}
@media (min-width: 580px) and (max-width: 767px) {
  .portatil, .component, .externals, .net {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "titlePortatil." "imgPortatil infoPortatil";
  }
  .portatil-img, .component-img, .externals-img, .net-img {
    width: 250px;
  }
  .component {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "titleComponent." "infoComponent imgComponent";
  }
  .component-img {
    width: 250px;
  }
  .externals {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "titleExternals." "imgExternals infoExternals";
  }
  .externals-img {
    width: 250px;
  }
  .net {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "titleNet ." "infoNet imgNet";
  }
  .net-img {
    width: 250px;
  }
}
.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
.footer-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 10px;
}
.footer-section h2 {
  font-size: 1.2rem;
  font-weight: 700;
}
.footer-section p {
  font-size: 1rem;
  font-weight: 400;
}
.footer-section ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.footer-section ul li {
  margin-right: 20 px;
}
.footer-section ul li a {
  text-decoration: none;
  color: #569CDA;
  font-weight: 700;
  font-size: 1.2rem;
  margin-right: 10px;
}
.footer-section ul li a:hover {
  color: #000;
  font-weight: 700;
  font-size: 1.2rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Sansation", sans-serif;
}

/*# sourceMappingURL=style.css.map */
