@import url('https://fonts.googleapis.com/css2?family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Sansation', sans-serif;
    background-color: #ffffff;
}

/* Header */

header {
    padding: 10px 20px;
    background-color: #E0E4EB;
    height: 100px;
    position: sticky ;
    top: 0px;
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  
}
.logo img {
    width: 100px;
}
.header-list {
    display: flex;
    justify-content: end;
    width: 100%;
}
@media (max-width: 991px) {
    header{
        height: auto;
    }
    .header-list {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}
nav ul li {
    margin-right: 20px;
}
nav ul li a {
    text-decoration: underline;
    color: #569CDA;
    font-weight: 700;
    font-size: 1.2rem;

}
nav ul li a:hover {
    color: #000;
    font-weight: 700;
    font-size: 1.2rem;
}

/* Main */


.hero{
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    justify-items: center;
    justify-content: center;
    grid-template-rows: 400PX;
    background-color: #E0E4EB;
    overflow: hidden;
    padding-left:50px;
}
.hero-image {
    position: relative;
    width: 100%;
    background-color:#fff ;
}
.hero-image img {
    height:400px;
}
.products{
    display: grid;
    grid-template-areas: "title"
                         "cards";
 
}
.products h2 {
    grid-area: "title";
    text-align: left;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 20px;
    margin-left: 50px;
}
.products-content {
    grid-area: "cards";
    display: flex;
    justify-content: space-around;
}
.product-card{
    background-color: #fff;
    border-style: solid;
    width: 350px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;

}
.product-card img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.services {
    display: grid;
    grid-template-areas: 
        "title-service title-service title-service"
        "web systems support";
    grid-template-columns: 1fr 1fr 1fr;
    justify-self: space-around;
    align-items: center;

}
.services h2 {
    grid-area: "title-service";
    text-align: left;
    font-size: 2rem;
    font-weight: 700;
    margin: 20px 50px;

}
.web {
    grid-area: "web";
}
.systems {
    grid-area: "systems";
}
.support {
    grid-area: "support";
}
.service-card {
    background-color: #fff;
    border-style: solid;
    width: 350px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}
.service-card img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}
.clients div img {
    width: 25%;

}



/* Footer */
.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #E0E4EB;
}
.footer-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer-section h2 {

    font-size: 1.2rem;
    font-weight: 700;
}
.footer-section p {
    font-size: 1rem;
    font-weight: 400;
}
.footer-section ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.footer-section ul li {
    margin-right: 20px;
}
.footer-section ul li a {
    text-decoration: none;
    color: #569CDA;
    font-weight: 700;
    font-size: 1.2rem;
}
.footer-section ul li a:hover {
    color: #000;
    font-weight: 700;
    font-size: 1.2rem;
}