.contact {
    &-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 2rem;
        border: 1px solid #000;

        h1 {
            font-size: 2rem;
            margin-bottom: 1rem;
            text-align: center;
        }

        p {
            font-size: 1rem;
            margin-bottom: 1rem;
            text-align: justify;
            width: 50%;
        }

        form {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 0.5rem;
            align-items: justify;
            .company-contact{
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                .form-check{
                    margin-left: 1rem;
                }
            }
            button{
                align-self: center;
                width: 30%;
            }
        }

    }

}
@media screen and (max-width: 767px) {
    .contact {
        &-content {
            padding: 1rem;

            h1 {
                font-size: 1.5rem;
            }

            p {
                font-size: 0.875rem;
                width: 100%;
            }

            form {
                width: 100%;

                button{
                    width: 50%;
                }
            }
        }
    }
}