header {
    padding: 10px 20px;
    height: 100px;
    position: sticky ;
    top: 0px;
    img{
        width: 100px;
        animation-name: logoAnimation;
        animation-duration: 1s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }
}
.header-{
    &container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }
    &list{
        display: flex;
        justify-content: end;
        align-items: center;
        width: 100%;
        a{
            margin-left: 20px;
            font-weight: 500;
            color: #569CDA;
            text-decoration: none;
            &:hover{
                color: grey;
            }
        }
    }
}

@media (max-width: 767px) {
    header{

        height: auto;

    }
    .header-list {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@keyframes logoAnimation {
    0% {
         transform: translateY(0) translateX(0); 
        }
    100% {
         transform: translateY(-20px) translateX(20px);
        }
}