@use "variables";

.products {
    &-content {
        display: flex;
        flex-wrap: wrap;

    }

    &-description {
        width: 100%;
        border: 5px solid #E0E4EB;
        margin: 0px 10px;
    }
    h1{
        text-align: justify;
        margin-left: 1%;
    }
}

.portatil {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    margin-bottom: 10px;
    grid-template-areas: "titlePortatil ."
        "imgPortatil infoPortatil";
    justify-items: center;


    &-h2 {
        text-align: left;
        grid-area: titlePortatil;
    }

    &-img {
        grid-area: imgPortatil;
        justify-self: center;
        align-self: center;
        margin: 10px;
        width: 50%;
    }

    &-p {
        grid-area: infoPortatil;
        padding: 20px;
        font-size: 18px;
        text-align: justify;
        align-self: center;
    }
}

.component {
    @extend .portatil;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "titleComponent ."
        "infoComponent imgComponent";

    &-h2 {
        grid-area: titleComponent;
    }

    &-img {
        @extend .portatil-img;
        grid-area: imgComponent;
    }

    &-p {
        @extend .portatil-p;
        grid-area: infoComponent;
    }
}

.externals {
    @extend .portatil;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "titleExternals ."
        "imgExternals infoExternals";

    &-h2 {
        grid-area: titleExternals;
    }

    &-img {
        @extend .portatil-img;
        grid-area: imgExternals;
    }

    &-p {
        @extend .portatil-p;
        grid-area: infoExternals;
    }
}

.net {
    @extend .portatil;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "titleNet ."
        "infoNet imgNet";

    &-h2 {
        grid-area: titleNet;
    }

    &-img {
        @extend .portatil-img;
        grid-area: imgNet;
    }

    &-p {
        @extend .portatil-p;
        grid-area: infoNet;
    }
}

@media (max-width: 579px) {
    .products-description {
        width: 100%;

    }
    .portatil {
        grid-template-columns: 1fr;
        grid-template-areas: "titlePortatil"
            "imgPortatil"
            "infoPortatil";
        &-img {
            width: 90%;
        }
        
    }

    .component {
        grid-template-columns: 1fr;
        grid-template-areas: "titleComponent"
            "imgComponent"
            "infoComponent";
        &-img {
            width: 90%;
        }
    }

    .externals {
        grid-template-columns: 1fr;
        grid-template-areas: "titleExternals"
            "imgExternals"
            "infoExternals";
        &-img {
            width: 90%;
        }
    }

    .net {
        grid-template-columns: 1fr;
        grid-template-areas: "titleNet"
            "imgNet"
            "infoNet";
        &-img {
            width: 90%;
        }
    }
}

@media (min-width: 580px) and (max-width: 767px) {
    .portatil {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "titlePortatil."
            "imgPortatil infoPortatil";

        &-img {
            width: 90%;
        }
    }

    .component {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "titleComponent."
            "infoComponent imgComponent";
        &-img {
            width: 90%;
        }
    }

    .externals {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "titleExternals."
            "imgExternals infoExternals";
        &-img {
            width: 90%;
        }
    }

    .net {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "titleNet ."
            "infoNet imgNet";

        &-img {
            width: 90%;
        }
    }
}