.solution{
    &-content{
        display: grid;
        grid-template-areas: ". title ."
                            "solutionweb solutionsistem solutionsupport";
        grid-template-columns: 2fr 2fr 2fr;
    }
    &-title{
        grid-area: title;
        text-align: center;
        margin: 20px 0;
        font-size: 30px;
        font-weight: 600;
    }
    &-card{
        background-color: #f5f5f5;
        border: 1px solid #000;
        padding: 20px;
        margin: 10px;
        h2{
            text-align: center;
        }
        p{
            margin-top: 10px;
            font: 1em ;
        }
    }
    .develop-web{
        grid-area: solutionweb;
    }
    .systems-custom{
        grid-area: solutionsistem;
    }
    .support{
        grid-area: solutionsupport;
    }
}
.client{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: ". . titleClient . ."
                        "img1 img2 img3 img4 img5";
    justify-content: center;
    align-items: center;
    img{
        width: 150px;
        margin: 2.5px;
    }
    h2{
        grid-area: titleClient;
        text-align: center;
        font-size: 30px;
        font-weight: 600;
    }
    .img1{
        grid-area: img1;
    }
    .img2{
        grid-area: img2;
    }
    .img3{
        grid-area: img3;
    }
    .img4{
        grid-area: img4;
    }
    .img5{
        grid-area: img5;
    }
}

@media (max-width: 767px) {
    .solution{
        &-content{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &-card{
            width: 80%;
        }
    }
    .client{
        grid-template-areas: "titleClient"
                            "img1"
                            "img2"
                            "img3"
                            "img4"
                            "img5";
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
        justify-items: center;
        img{
            width: 100px;
        }
    }
}